versions/v2/apps/xml/schemas/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Kleber (SFSU) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.netbeams.dsp.org/message.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://www.netbeams.dsp.org/message.xsd" jaxb:version="2.1">
	
	<xs:complexType name="AbstractMessage">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class implClass="Message"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="Header"/>
			<xs:element name="Body" type="Body"/>
		</xs:sequence>
		<xs:attribute name="messageID"/>
		<xs:attribute name="ContentType"/>
	</xs:complexType>
<!--	
	<xs:simpleType name="ContentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MEASURE"/>
			<xs:enumeration value="ACTION"/>
			<xs:enumeration value="CREATE"/>
			<xs:enumeration value="INSERT"/>
			<xs:enumeration value="QUERY"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="UPDATE"/>
			<xs:enumeration value="EVENT"/>
		</xs:restriction>
	</xs:simpleType>
-->
	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element name="CreationTime" type="xs:long"/>
			<xs:element name="CorrelationID"/>
			<xs:element name="Producer" type="ComponentIdentifier"/>
			<xs:element name="Consumer" type="ComponentIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Body">
		<xs:sequence>
			<xs:any processContents="lax"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="AbstractNodeAddress">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class implClass="NodeAddress"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<!--
	<xs:complexType name="ComponentNodeID">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	-->
	<xs:complexType name="ComponentLocator">
		<xs:sequence>
			<xs:element name="ComponentNodeId" type="xs:string"/>
			<xs:element name="NodeAddress" type="AbstractNodeAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComponentIdentifier">
		<xs:sequence>
			<xs:element name="ComponentType" type="xs:string"/>
			<xs:element name="ComponentLocator" type="ComponentLocator"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MeasureMessage" />
	<xs:complexType name="MeasureMessage">
		<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="ActionMessage" />
	<xs:complexType name="ActionMessage">
		<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="CreateMessage" />
	<xs:complexType name="CreateMessage">
		<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="InsertMessage" />
	<xs:complexType name="InsertMessage">
		<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="QueryMessage" /> 
	<xs:complexType name="QueryMessage">
		<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="UpdateMessage" />
	<xs:complexType name="UpdateMessage">
		<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="DeleteMessage" />
	<xs:complexType name="DeleteMessage">
		<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="EventMessage"/>
    	<xs:complexType name="EventMessage">
	   	<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:element name="AcknowledgementMessage" />
    <xs:complexType name="AcknowledgementMessage">
	   	<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>	

    <xs:element name="MessagesContainer">
	    <xs:annotation>
	        <xs:documentation>More details at http://code.google.com/p/netbeams/issues/detail?id=23</xs:documentation>
	    </xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="message" type="AbstractMessage" minOccurs="1" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="uudi" type="xs:string" use="required" />
			<xs:attribute name="creationTime" type="xs:string" use="required" />
			<xs:attribute name="host" type="xs:string" use="optional" />
		</xs:complexType>	
	</xs:element>
</xs:schema>
