versions/v2/apps/xml/schemas/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Kleber (SFSU) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.netbeams.dsp.org/message.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://www.netbeams.dsp.org/message.xsd" jaxb:version="2.1">
	<xs:complexType name="AbstractMessage">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class implClass="Message"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="Header"/>
			<xs:element name="Body" type="Body"/>
		</xs:sequence>
		<xs:attribute name="messageID"/>
	</xs:complexType>
	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element name="CreationTime" type="xs:long"/>
			<xs:element name="CorrelationID"/>
			<xs:element name="Producer" type="ComponentIdentifier"/>
			<xs:element name="Consumer" type="ComponentIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Body">
		<xs:sequence>
			<xs:any processContents="lax"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="NodeAddress">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LocalNodeAddress">
		<xs:complexContent>
			<xs:extension base="NodeAddress"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NodeRefID"/>
	<xs:complexType name="ComponentLocator">
		<xs:sequence>
			<xs:element name="NodeRefID" type="NodeRefID"/>
			<xs:element name="NodeAddress" type="NodeAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComponentIdentifier">
		<xs:sequence>
			<xs:element name="ComponentType" type="ComponentType"/>
			<xs:element name="ComponentLocator" type="ComponentLocator"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComponentType">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MeasureMessage">
		<xs:complexContent>
			<xs:extension base="AbstractMessage"/>
		</xs:complexContent>
	</xs:complexType>	
	<!--
	<xs:element name="ActionMessage" type="Message"/>
	<xs:element name="MeasureMessage" type="Message"/>
	<xs:element name="CreateMessage" type="Message"/>
	<xs:element name="EventMessage" type="Message"/>
	<xs:element name="InsertMessage" type="Message"/>
	<xs:element name="QueryMessage" type="Message"/>
	<xs:element name="UpdateMessage" type="Message"/>
  	-->
	<xs:element name="MeasureMessage" type="MeasureMessage"/>
</xs:schema>
