versions/v2/apps/xml/schemas/message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Kleber (SFSU) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.netbeams.dsp.org/message.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="http://www.netbeams.dsp.org/message.xsd" jaxb:version="2.1">
	<xs:complexType name="AbstractMessage">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class implClass="Message"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Header" type="Header"/>
			<xs:element name="Body" type="Body"/>
		</xs:sequence>
		<xs:attribute name="messageID"/>
		<xs:attribute name="ContentType"/>
	</xs:complexType>
	<xs:complexType name="Header">
		<xs:sequence>
			<xs:element name="CreationTime" type="xs:long"/>
			<xs:element name="CorrelationID"/>
			<xs:element name="Producer" type="ComponentIdentifier"/>
			<xs:element name="Consumer" type="ComponentIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Body">
		<xs:sequence>
			<xs:any processContents="lax"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="AbstractNodeAddress">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class implClass="NodeAddress"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<!--
	<xs:complexType name="ComponentNodeID">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	-->
	<xs:complexType name="ComponentLocator">
		<xs:sequence>
			<xs:element name="ComponentNodeId" type="xs:string"/>
			<xs:element name="NodeAddress" type="AbstractNodeAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComponentIdentifier">
		<xs:sequence>
			<xs:element name="ComponentType" type="xs:string"/>
			<xs:element name="ComponentLocator" type="ComponentLocator"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="MeasureMessage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractMessage"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="ActionMessage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractMessage"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="CreateMessage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractMessage"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="InsertMessage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractMessage"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="QueryMessage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractMessage"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateMessage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractMessage"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteMessage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractMessage"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>


	<xs:element name="EventMessage">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="AbstractMessage"/>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	
</xs:schema>
