versions/v2/apps/xml/schemas/stocktick.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:stk="http://www.netbeams.dsp.org/stocktick.xsd" targetNamespace="http://www.netbeams.dsp.org/stocktick.xsd">
	
<xs:element name="StockTicks">
	<xs:complexType>
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element name="StockTick" type="stk:StockTick"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

	
<xs:complexType name="StockTick">
	<xs:sequence>
		<xs:element name="Symbol" type="xs:string"/>
		<xs:element name="Name" type="xs:string" minOccurs="0"/>
		<xs:element name="Value" type="xs:float"/>
	</xs:sequence>
</xs:complexType>
	
</xs:schema>
